<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <!-- DB接続文字列 -->
    <add name="local" connectionString="server=localhost;port=3306;database=chat_tool;user=;password=;" />
  </connectionStrings>
  <appSettings>
    <add key="dbKey" value="local" />
    <!--
      ユーザアイコン保管フォルダ。
      exeと同じ階層にこのフォルダを作成して下さい。
      各ユーザのアイコン画像は、この中にユーザIDを0埋め5桁にした文字列(ex.00001)のフォルダを作成し、その中に置いて下さい。
    -->
    <add key="userIconDirectoryPath" value="Resources\UserIcons" />
  </appSettings>
</configuration>