<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <add name="local" connectionString="server=localhost;user=root;database=win_form_sample;port=3306;password=admin;" />
    <add name="ubuntu" connectionString="server=10.0.2.4;user=win;database=win_form_sample;port=3306;password=admin;" />
  </connectionStrings>
  <appSettings>
    <add key="dbKey" value="local" />
  </appSettings>
</configuration>