<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IconPath" value="../../Icons/Icon.png"/>
  </appSettings>
  <connectionStrings>
     <add name="DB" connectionString="Server=localhost; user=root; database= chattool; port=3306; password = kinopana874;"/>    
    </connectionStrings>
</configuration>
