<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Icon_0" value="..\..\Icons\Icon_0.png"/>
    <add key="Icon_1" value="..\..\Icons\Icon_1.png"/>
    <add key="RunMode" value="Debug"/>
  </appSettings>
  <connectionStrings>
    <add name="Default.RELEASE" connectionString="Server=localhost;Database=chat_tool;Uid=root;Pwd=T10772186h"/>
    <add name="Default.DEBUG" connectionString="Server=localhost;Database=chat_tool;Uid=root;Pwd=T10772186h"/>
  </connectionStrings>
</configuration>
