<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Icon_0" value=" "/>
    <add key="Icon_1" value=" "/>
    <add key="RunMode" value=" "/>
  </appSettings>
  <connectionStrings>
    <add name="Default.RELEASE" connectionString="Server=localhost;Database=chat_tool;Uid=root;Pwd=T10772186h"/>
    <add name="Default.DEBUG" connectionString="Server=localhost;Database=chat_tool;Uid=root;Pwd=T10772186h"/>
  </connectionStrings>
</configuration>
